.App{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
header, footer{
  padding: 10px;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.container{
  max-width: 1200px;
  margin: auto;
}